*{box-sizing: border-box;}
html, body { background-color:grey; }
.flex-wrapper { /*covers nearly the entire site*/
  display: flex;
  height: 100vh;
  flex-flow: row wrap;}
.header { /*top bar that covers the width of the screen, holds the title but can add more in it*/
  flex: 1 100%; /* the 100% forces the flexbox to take up the whole screen*/
  text-align: center;
  background-color:purple;}
.main { /*main container for content, everything to the right of the sidebar*/
  flex: 7;
  order: 2;
  min-height: 85vh;
  padding: 10px;
  background-color: MistyRose;}
.sidebar {
  flex: 1;
  order:1;
  display: flex;
  flex-flow: column wrap;
  border-right: 2px solid;
  padding-left: 5px;
  background-color: LightBlue;}
.sidebar >a { /*formats everything inside the sidebar, designed mostly for link text formatting*/
  font-size: 1.5em;
  margin-top: 3vh;}
.footer { /*bar covering the bottom of the screen, good place to put links for contact, legal stuff, etc*/
  flex: 1 100%;
  height: 4vh;
  order: 4;
  display: flex;
  flex-flow: row;;
  padding-left: 10vw;
  background-color: Gold;}
.footer > * { flex: 1; } /*formats things placed inside the footer*/
