*{box-sizing: border-box;color:#;}
.layoutWrapper {
    display: grid;
    grid-template-columns: 100px auto 100px 100px;
     grid-template-rows: 200px auto 100px;
     grid-template-areas:
       "header header headerRight headerRight"
       "spaceleft main main spaceright"
       "footer footer footer footer";
}
.header { grid-area: header; text-align: center; align-self: stretch; justify-content: center; background-color: #1a1d1a;color:#8A2728;}
.left {grid-area: spaceleft; background-color: #292929;}
.right {grid-area: spaceright; background-color: #292929;}
.main {grid-area: main; min-height: 70vh; background-color: #333333;}
.main>* {color:#E3E2E2;}
.footer {
  grid-area: footer;
  padding-top: 30px;
  background-color:#1a1d1a;}
.footer>a {
  margin-left: 50px;
}
.headerRight { grid-area: headerRight; background-color: #1a1d1a;}
.headerRight>* {color:#8A2728;} /* affects the login button*/
.categoryBox {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

a:link {
  color:green;
}
a:visited {
  color:green;
}
a:hover {
  color: purple;
}
.categoryCard {
  width:30rem;
  height:30rem;
  background-color: #324376;
  border: solid black 2px;
  margin:3rem;
  border-radius:5px;
}

.fullCardSpace{     /*div I used in cards to cover the full card space without including margins, used for hyperlink*/
  padding-top:30%;
}

.cardDisp {         /*Image in the cards, currently not used*/
  max-width:100%;
  max-height: 70%;
  border-radius:5px;
}

.lightText {
  color:#E3E2E2;
}

.movieBox {
  width:30rem;
  height:30rem;
  background-color: #324376;
  border: solid black 2px;
  margin:3rem;
  border-radius:5px;
}

.imageSpace {
  height: 500px;
  width: auto;

}

.cardacc{
  padding: 2px 16px;
  width: 30rem;
  height:auto;
  background-color: #324376;
  border: solid black 2px;
  margin:3rem;
  border-radius:5px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #8c8c8c;
    border-bottom: 1px solid #c8ced3;
    text-decoration-color:#000000;
}

.h5, h5 {
    font-size: 3rem;
}
