*{box-sizing: border-box;}
.layoutWrapper {
    display: grid;
    grid-template-columns: 70px auto 70px;
     grid-template-rows: 200px auto 100px;
     grid-template-areas:
       "header header header"
       "spaceleft main spaceright"
       "footer footer footer";
}
.header { grid-area: header; align-self: stretch; justify-content: center; background-color: #48483a;}
.left {grid-area: spaceleft; background-color: #74776b;}
.right {grid-area: spaceright; background-color: #74776b;}
.main {grid-area: main;}
.footer {grid-area: footer; background-color:#48483a;}


.categoryBox {
  display:flex;
  flex-wrap:wrap;
  background-color: #2d3047;
  justify-content: space-around;

}

.categoryCard {
  width:30rem;
  height:30rem;
}

.card {
  border: solid black 2px;
  margin:3rem;
  border-radius:5px;
}
.navbar-default {
  border-color:none;
  background-color:none;
}
